{% extends 'base.html' %}
{% block content %}
{% if not state["logged_in"] %}
<h1>Welcome to Sigma Salon!</h1>
{% else %}
<h1>Welcome {{state["username"]}}!</h1>
<h2>What are you in for today?</h2>
{% endif %}
{% endblock %}

{% block footer %}
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <p>Made by:</p>
    <ul>
      <li>Jason Jeremy Wijadi - 2440077301</li>
      <li>Monique Senjaya - 2440061285</li>
      <li>Christopher Tendi - 2440065030</li>
    </ul>
  </div>
</footer>
{% endblock %}