<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    {# Sigma Salon Logo and Title text #}
    <a class="navbar-brand" href="{{url_for('views.index')}}"><img src="{{ url_for('static', filename='images/logo.png') }}" style="width: 3em;">Sigma Salon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {# Login button #}
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        {# Register button #}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('views.register')}}">Register</a>
        </li>
        {# Dropdown actions button #}
        {% if position %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actions
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          {# Possible actions will be different depending on the position #}
            {% if position == "Admin" %}
            <li><a class="dropdown-item" href="#">Manage Staff</a></li>
            <li><a class="dropdown-item" href="#">View appointments</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Free Query</a></li>
            {% elif position == "Staff" %}
            <li><a class="dropdown-item" href="#">Manage appointments</a></li>
            {% elif position == "Customer" %}
            <li><a class="dropdown-item" href="#">Book appointments</a>
            {% endif %}
          </ul>
        </li>
        {% endif %}
      </ul>
      {# <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> #}
    </div>
  </div>
</nav>