{% extends 'base.html' %}
{% block title %}
Sigma Salon - Register
{% endblock %}
{% block content %}

{% include 'message.html' %}

<h1>Register Now!</h1>
<br/>
<form method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username"/>
  </div>
  <br/>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password"/>
  </div>
  <br/>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter your first name">
  </div>
  <br/>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter your last name">
  </div>
  <br/>
  <div class="form-group">
    <label for="sex">Sex (male or female)</label>
    <input type="text" class="form-control" id="sex" name="sex" placeholder="Enter your sex">
  </div>
  <br/>
  <div class="form-group">
    <label for="birthdate">Birth Date</label>
    <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="Enter your birthdate">
  </div>
  <br/>
  <button type="submit" class="btn btn-primary">Submit</button>
  <br/>
</form>
{% endblock %}
